html, body, ul, nav, footer, main, img, blockquote {
	margin: 0;
}

body {
	background-color: #E7EAE1;
}

.wrapper {
	height: 100vh;
	background: linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.3)
    ),
    /* bottom, image */
    url(../images/bw-jump-down.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	position: relative;
	z-index: 5;
}

nav img {
	width: 20%;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	list-style: none;
	background-color: rgba(17, 39, 60, 1);
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.navbar li {
	padding: 40px 20px;
	margin: 0px 20px;
	color: #E7EAE1;
	font-size: 1.25em;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}

.navbar a {
	padding: 40px 0px;
	text-decoration: none;
	color: #E7EAE1;
}

.navbar li:hover {
	background-color: #72B7BC;
	color: rgb(17, 39, 60);
}

blockquote{
	margin: 1.5vw;
	font-size: 3.5vw;
	font-style:italic;
	font-weight: bold;
	color: #E7EAE1;
	text-shadow: 1px 2px black;
	line-height:1.6;
  
}

blockquote span{
  display:block;
  color: #E7EAE1;
  font-size: 2vw;
  font-style: normal;
  margin-top:0.8em;
}

main {
	margin: 0vw 20vw; 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
}

.content {
	margin: 1vw 1vw;
	background: #f7f7f7;
	-webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen';
}

.sm-icon {
	width: 4%;
	display: inline-block;
}

.email, .link {
	text-decoration: none;
	color: #72B7BC
}

.email:hover, .link:hover {
	text-decoration: underline;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	margin: 10px 0px;
	background-color: rgba(13, 34, 53, 0.6);
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

#map {
        height: 400px;
        width: 100%;
        margin-bottom: 1vw;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-word {
	font-size: 30px;
	color: #72B7BC;
}

.full-width-img {
	width: 100%;
	z-index: 1;
}

.two-images {
	display: grid;
	grid-template-columns: 48% 48%;
	grid-gap: 10px;
	justify-content: center;
	padding-bottom: 1vw;
}

footer {
	top: 0;
	background-color: #0D2235;
	color: white;
	font-family: 'Oxygen', sans-serif;
	padding-bottom: 10px;
}

.footer {
	height: 75px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;

}

.footer li a {
	color: white;
		
}

footer p {
	text-align: center;
	font-size: 0.75em;
}

footer img {
	width: 30px;
}

@media screen and (max-width: 320px) {

	.navbar {
		width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	list-style: none;
	background-color: rgba(17, 39, 60, 0.8);
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	}

	.wrapper {
	height: 50vh;
	background: linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.3)
    ),
    /* bottom, image */
    url(../images/jumpedit.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
}